@import 'tailwindcss';

@theme inline {
  --font-display: var(--font-space-grotesk), sans-serif;
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-syne: var(--font-syne), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh;
}

.html {
  scroll-behavior: smooth;
}

.preloader-active {
  overflow: hidden;
}

.preloader-active main {
  visibility: hidden;
}

.preloader-complete main {
  visibility: visible;
}

::selection {
  background: #615c56;
  color: #ffffff;
}

::-moz-selection {
  background: #615c56;
  color: #ffffff;
}

.bg-primary {
  background-color: #83cf7b;
}
.bg-foreground {
  background-color: #24231f;
}
